fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
pdfplumber==0.11.4
regex==2024.7.24
unicodedata2==15.1.0
FlagEmbedding==1.2.10
qdrant-client==1.11.0
torch>=2.3
sentence-transformers==3.0.1
cohere==5.5.8
vncorenlp==1.0.3
pydantic==2.8.2
ragas==0.1.17
datasets==2.21.0
requests>=2.32
sqlite-utils==3.36
pandas>=2.2.2
bert-score>=0.3.13
httpx
tqdm
loguru
python-multipart 
PyPDF  